[Unit]
Description=Ngrok Server
 
[Install]
WantedBy=multi-user.target
 
[Service]
ExecStart=/bin/bash /scripts/ngrok.sh
Type=simple
User=YOURUSER
Group=YOURUSER
WorkingDirectory=/scripts/
Restart=on-failure
